/* GLOBAL STYLES
 * Padding below the footer and lighter body text
* -------------------------------------------------- */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE BIO
-------------------------------------------------- */

/* Carousel base class */
.biography {
  position: absolute;
  top: 75px;
  left: 13%;
  max-width: 75%;
  height: 500px;
  margin-bottom: 60px;
}