/* GLOBAL STYLES
 * Padding below the footer and lighter body text
* -------------------------------------------------- */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE image gallery
-------------------------------------------------- */

/* Carousel base class */
.image-gallery {
  position: absolute;
  top: 75px;
  left: 13%;
  background-color:gray;
  min-width: 75%;
  height: 500px;
  margin-bottom: 60px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  height: 300px;
  width: 300px;
}

.cell {
    
}